<!DOCTYPE html>
<html lang="en">
 <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">

<head>
    <meta charset="UTF-8">
    <title>SOUND CITY</title>
    <link rel="stylesheet" href="indcss.css">
</head>
<body style="background-color: wheat">

    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-md">

        </div>
      </nav>


      <div class="container mt-5">

        <div class="row">
        <center>
            <div class="col-md-4" style="background-color: black">
                <h2>BOOK TICKET NOW !!!</h2>
                <br>

                <form action="/insert" method="post">
                    {% csrf_token %}

                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Name" name="name" required>
                    </div>

                    <div class="form-group">
                        <input type="text" class="form-control  mt-2" placeholder="ID Number" name="idnumber" required>
                    </div>

                    <div class="form-group">
                        <input type="text" class="form-control  mt-2" placeholder="Ticket Price" name="ticketprice" required>

                    </div>

                    <div class="form-group">
                        <input type="text" class="form-control  mt-2" placeholder="Ticket Number" name="ticketnumber" required>

                    </div>


                      <div class="form-group">
                        <input type="text" class="form-control  mt-2" placeholder="Date" name="date" required>

                    </div>


                    <div class="d-grid gap-2">

                        <button class="btn btn-success mt-2" type="submit">Book Ticket</button>
                    </div>

                </form>
            </div>
        </center>
            <div class="col-md-12">
                <h2>View Data</h2>
                <table class="table table-striped table-hover">
                    <thead>
                      <tr>
                        <th scope="col">#</th>
                        <th scope="col">Name</th>
                        <th scope="col">ID Number</th>
                        <th scope="col">Ticket Price</th>
                        <th scope="col">Ticket Number</th>
                          <th scope="col">Date</th>

                      </tr>
                    </thead>
                    <tbody class="table-group-divider">

                    {% for d in data %}
                      <tr>
                        <th scope="row">{{d.id}}</th>
                        <td>{{d.name}}</td>
                        <td>{{d.idnumber}}</td>
                        <td>{{d.ticketprice}}</td>
                        <td>{{d.ticketnumber}}</td>
                          <td>{{d.date}}</td>
                        <td><a href="/update/{{d.id}}" type="button" class="btn btn-outline-warning">Edit</a></td>
                        <td><a href="/delete/{{d.id}}" type="button" class="btn btn-outline-danger">Delete</a></td>
                      </tr>
                    {% endfor %}
                    </tbody>
                  </table>
            </div>
        </div>
      </div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
</body>
</html>